<div class="container mt-3 p-3">
  <h3>Create a Service Request</h3>
  <form #submitForm="ngForm" (ngSubmit)="submit()">

    <div class="col-xs-12 col-12 col-md-4 p-4 form-group border">
      <label class="font-weight-bold" for="requestedDateForCompletion">Requested Date For Completion</label>
      <input type="text"
              required
              name="requestedDateForCompletion"
              [(ngModel)]="model.requestedDateForCompletion"
              id="requestedDateForCompletion"
              class="form-control mb-3"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }">

        <label class="font-weight-bold" for="group">Group</label>
        <select class="form-control mb-3" id="group" required name="group" [(ngModel)]="model.group">
          <option>Commercial</option>
          <option>Operations</option>
          <option>Management</option>
        </select>

        <label class="font-weight-bold" for="locationOfProject">Location of Project</label>
        <select class="form-control mb-3" id="locationOfProject" required name="locationOfProject" [(ngModel)]="model.locationOfProject">
          <option>Plant</option>
          <option>Pipeline</option>
          <option>Compressor Station</option>
          <option>Other</option>
        </select>

        <label for="initiatedBy" class="font-weight-bold">Initiated By</label>
        <input type="text" class="form-control mb-3" required name="initiatedBy" [(ngModel)]="model.initiatedBy">

        <label class="font-weight-bold" for="description">Description</label>
        <textarea class="form-control mb-3" id="description" rows="5" required name="description" [(ngModel)]="model.description"></textarea>

      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
