<div class="container mt-5 w-75">
    <div class="container p-0">
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-sm btn-dark mb-2" [routerLink]="['/requests', request.esr]"><i class="fa fa-arrow-circle-left mr-2"></i>Back</button>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm d-flex flex-row-reverse">
        </div>
      </div>
    </div>
    <div class="card text-center border-dark">
        <div class="card-header">
            <h3 class="card-title font-weight-bolder mb-0">{{request.esr}}</h3>
        </div>
        <form #approvalForm="ngForm" (ngSubmit)="approve()">
          <div class="card-body form-group">
            <div class="container p-3 text-left">
              <label for="group" class="card-subtitle font-weight-bold">Department</label>
              <input type="text" name="department" class="form-control" style="max-width:50%;" value="{{request.department}}" [(ngModel)]="model.department">
            </div>
            <div class="container p-3 text-left">
              <label class="card-subtitle font-weight-bold" for="locationOfProject">Location of Project</label>
              <select name="locationOfProject" id="locationOfProject" class="form-control p-0" style="max-width: 50%;" [(ngModel)]="model.locationOfProject">
                <option *ngFor="let location of locationsList" [attr.selected]="request.locationOfProject">
                  {{location}}
                </option>
              </select>
            </div>
            <div class="container p-3 text-left">
              <label class="font-weight-bold" for="description">Description</label>
              <textarea class="form-control mb-3" id="description" rows="3" style="max-width: 50%;" required name="description" [(ngModel)]="model.description"></textarea>
            </div>
            <div class="container p-3 text-left">
              <label for="engineerAssigned" class="card-subtitle font-weight-bold">Engineer Assigned</label>
              <select name="engineersAssigned" id="engineerAssigned" style="max-width: 50%;" class="form-control p-0" [(ngModel)]="model.engineerAssigned">
                <option [ngValue]="null"></option>
                <!-- <option>mlinden</option> -->
                <option *ngFor="let engineer of engineersList" [value]="engineer.value">
                  {{engineer.key}}
                </option>
              </select>
            </div>
            <div class="container p-3 text-left">
              <label class="font-weight-bold" for="requestedDateForCompletion">Requested Date For Completion</label>
              <input type="text"
                      required
                      name="requestedDateForCompletion"
                      [(ngModel)]="model.requestedDateForCompletion"
                      id="requestedDateForCompletion"
                      class="form-control mb-3"
                      bsDatepicker
                      style="max-width: 50%;"
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }">
            </div>
            <div class="container p-3 text-left">
              <label class="card-subtitle font-weight-bold" for="priority">Priority</label>
              <div class="row d-flex align-items-center ml-1">
                <button type="button" class="btn btn-sm" style="height: 25px; width: 25px" (click)="decreasePriority()"><p class="font-weight-bolder">-</p></button>
                <input type="text" class="form-control text-center" name="priority" style="max-width: 40px;" [value]="priority.value" [formControl]="priority" [(ngModel)]="model.priority">
                <button type="button" class="btn btn-sm" style="height: 25px; width: 25px" (click)="increasePriority()"><p class="font-weight-bold">+</p></button>
              </div>
            </div>
            <div class="container p-3 text-left">
              <label for="comments1" class="card-subtitle font-weight-bold">Comments</label>
              <textarea class="form-control mb-3" id="comments" rows="3" style="max-width: 50%;" name="comments" [(ngModel)]="model.comments"></textarea>
            </div>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm d-flex flex-row-reverse">
                  <button type="button" is="submitBtn" data-toggle="modal" data-target="#template" (click)="openModal(template)" class="btn btn-primary btn-sm">Submit</button>
              </div>
            </div>
          </div>
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Confirmation</h4>
            </div>
            <div class="modal-body border">
              <h6>Please choose approval status and submit</h6>
              <form #modalForm="ngForm" (ngSubmit)="approve()" class="mt-3">
                <div class="custom-control custom-checkbox form-check mb-5 mt-5">
                  <input type="checkbox" class="custom-control-input" id="approve1" name="approved" value="request.approved" [(ngModel)]="model.approved">
                  <label class="custom-control-label font-weight-bold" for="approve1">Approved</label>
                </div>
                <input type="submit" value="Submit" class="btn btn-sm btn-success">
                <button type="button" class="btn btn-sm btn-danger ml-2" (click)="cancel(template)">Cancel</button>
              </form>
            </div>
            </ng-template>
        </form>
        <div class="card-footer p-2 font-weight-bold">
          <p class="mb-0 {{request.approved | StatusPipe}}">Pending Approval</p>
        </div>
      </div>
  </div>
