<div class="container mt-5 w-75">
  <div class="container p-0">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-sm btn-dark mb-2" [routerLink]="['/home']"><i class="fa fa-arrow-circle-left mr-2"></i>Back</button>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm d-flex flex-row-reverse">
        <button *ngIf="authorizedToApprove && !approved" type="button" class="btn btn-sm btn-warning mb-2" [routerLink]="['/request-approve', request.esr]"><i class="fa fa-check-circle mr-2"></i>Approve</button>
      </div>
    </div>
  </div>
  <div class="card text-center border-dark shadow">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"><h3 class="card-title font-weight-bolder mb-0">{{request.esr}}</h3></div>
            <div class="col-sm d-flex flex-row-reverse">
                <button class="btn btn-sm util" type="button" title="Edit" (click)="toggleEditMode()" [routerLink]="['/request-edit', request.esr]"><i class="fa fa-pencil"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body border">
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Department</h6>
            <p class="card-text text-muted">{{request.department}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Location of Project</h6>
            <p class="card-text text-muted">{{request.locationOfProject}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Description</h6>
          <p class="card-text text-muted">{{request.description}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Date Initiated</h6>
            <p class="card-text text-muted">{{request.dateInitiated | date}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Initiated By</h6>
            <p class="card-text text-muted">{{request.initiatedBy}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Engineer Assigned</h6>
            <p class="card-text text-muted">{{request.engineerAssigned}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Requested Date For Completion</h6>
            <p class="card-text text-muted">{{request.requestedDateForCompletion | date}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Status</h6>
          <p class="card-text text-muted">{{request.status}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Priority</h6>
          <p class="card-text text-muted" style="max-width: 40px;">{{request.priority}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Date Completed</h6>
          <p class="card-text text-muted">{{request.dateCompleted | date}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Comments</h6>
          <p class="card-text text-muted">{{request.comments}}</p>
        </div>
      </div>

      <div class="card-footer p-2 font-weight-bold">
        <p class="mb-0 {{request.approved | StatusPipe}}">{{request.approved | ApprovedBoolean}}</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm">
        <button *ngIf="!isCanceled" class="btn btn-sm util2 canc" type="button" title="Cancel Request" (click)="openModal(cancelTemplate)">Cancel Request</button>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm d-flex flex-row-reverse">
          <button *ngIf="!isCompleted" class="btn btn-sm util2 comp" type="button" title="Complete Request" (click)="openModal(completeTemplate)">Complete Request</button>
      </div>
    </div>
</div>
<ng-template #completeTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmation</h4>
    </div>
    <div class="modal-body border">
      <h5>Complete request {{request.esr}}?</h5>
      <button class="btn btn-sm btn-success mr-2 mt-2" (click)="completeRequest()">Confirm</button>
      <button class="btn btn-sm btn-danger mt-2" (click)="cancel()">Cancel</button>
    </div>
  </ng-template>
<ng-template #cancelTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmation</h4>
  </div>
  <div class="modal-body border">
    <h5>Cancel request {{request.esr}}?</h5>
    <button class="btn btn-sm btn-success mr-2 mt-2" (click)="cancelRequest()">Confirm</button>
    <button class="btn btn-sm btn-danger mt-2" (click)="cancel()">Cancel</button>
  </div>
</ng-template>

