<div class="container mt-5 w-75">
  <div class="container p-0">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-dark mb-2" [routerLink]="['/home']"><i class="fa fa-arrow-circle-left mr-2"></i>Back</button>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm d-flex flex-row-reverse">
          <!-- *ngIf="authorizedToApprove && !approved" -->
        <button *ngIf="authorizedToApprove && !approved" type="button" class="btn btn-success mb-2" [routerLink]="['/request-approve', request.esr]"><i class="fa fa-check-circle mr-2"></i>Approve</button>
        <button *ngIf="approved" type="button" class="btn btn-warning mb-2" (click)="openModal(template)"><i class="fa fa-exclamation-circle mr-2"></i>Update Status</button>
      </div>
    </div>
  </div>
  <div class="card text-center border-dark shadow">
      <div class="card-header">
          <h3 class="card-title font-weight-bolder mb-0">{{request.esr}}</h3>
      </div>
      <div class="card-body">
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Department</h6>
            <p class="card-text text-muted">{{request.department}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Location of Project</h6>
            <p class="card-text text-muted">{{request.locationOfProject}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Description</h6>
          <p class="card-text text-muted">{{request.description}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Date Initiated</h6>
            <p class="card-text text-muted">{{request.dateInitiated | date}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Initiated By</h6>
            <p class="card-text text-muted">{{request.initiatedBy}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Engineer Assigned</h6>
            <p class="card-text text-muted">{{request.engineerAssigned}}</p>
        </div>
        <div class="container p-3 text-left">
            <h6 class="card-subtitle mb-1 font-weight-bold">Requested Date For Completion</h6>
            <p class="card-text text-muted">{{request.requestedDateForCompletion | date}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Status</h6>
          <p class="card-text text-muted">{{status.value}}</p>
        </div>
        <div class="container p-3 text-left">
          <h6 class="card-subtitle mb-1 font-weight-bold">Priority</h6>
          <p class="card-text text-muted text-center" style="max-width: 40px;">{{request.priority}}</p>
        </div>
      </div>
      <div class="card-footer p-2 font-weight-bold">
        <p class="mb-0 {{request.approved | StatusPipe}}">{{request.approved | ApprovedBoolean}}</p>
      </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Status Update - {{request.esr}}</h4>
  </div>
  <div class="modal-body">
    <form #statusForm="ngForm" (ngSubmit)="changeStatus()">
      <select class="form-control custom-select-lg" required name="status" [(ngModel)]="model.status">
        <option *ngFor="let status of statuses" [attr.selected]="request.status">{{status}}</option>
      </select>
      <div class="mt-4">
        <button type="submit" class="btn btn-sm btn-primary mr-2" (click)="updateStatus()">Apply</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
