.fa-check-circle {
  color: white;
}

.util {
  box-shadow: none;
  padding: 2px;
  /* width: 20px;
  height: 20px; */
  /* text-transform: none; */
  font-size: 14px;
  margin: 1.5%;
}

.util:hover i {
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.util2 {
  /* text-transform: none; */
  color: white;
}

.util2:hover {
  opacity: 0.7;
}

.comp {
  background-color: green;
}

.canc {
  background-color: #e51c23;
}
