<nav class="navbar navbar-expand-md navbar-dark bg-dark p-2">
  <a class="navbar-brand" [routerLink]="['/home']">Engineering Portal</a>

  <ul class="navbar-nav mr-auto ml-3">
    <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Service Requests
        </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/request-create']">Create Service Request</a>
          <a class="dropdown-item" [routerLink]="['/requests']">View All Service Requests</a>
        </div>
      </div>
  </ul>
  <!-- <div class="container d-flex text-right justify-content-right">
    <p class="mr-3 font-weight-bold">{{username}}</p>
  </div>
  <img src="../../assets/lucidlogoWhite.png" alt="" class="logo"> -->
  <div class="container d-flex flex-row-reverse p-0 m-0">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <img src="../../assets/lucidlogoWhite.png" alt="" class="logo">
        <p class="font-weight-bold mt-2">Welcome, {{username}}</p>
      </div>
    </div>
  </div>
</nav>
