<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Engineering</a>

  <ul class="navbar-nav mr-auto ml-3">
    <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" dropdownToggle>
          Service Requests
        </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" href="#">Create ESR</a>
          <a class="dropdown-item" href="#">View All ESR</a>
        </div>
      </div>
  </ul>

</nav>
