<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">Engineering</a>

  <ul class="navbar-nav mr-auto ml-3">
    <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Service Requests
        </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/request-create']">Create ESR</a>
          <a class="dropdown-item" [routerLink]="['/requests']">View All ESR</a>
        </div>
      </div>
  </ul>
  <img src="../../assets/lucidlogoWhite.png" alt="" class="logo">
</nav>
