<div class="container-fluid mt-4 p-2">
  <div class="row">
    <div class="col-md">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="ml-5" *ngIf="assigned">My Assigned Requests</h3>
          <h3 class="ml-5" *ngIf="!assigned">All Requests</h3>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 d-flex justify-content-end mb-2">
          <button class="btn btn-sm btn-success mr-2" title="Create New Request" (click)="cancel()"><i class="fa fa-plus-circle"></i> New</button>
          <button class="btn btn-primary btn-sm" (click)="toggleApproved()">{{ assigned ? "Show All Requests" : "Show My Requests" }}</button>
        </div>
      </div>
        <div class="shadow rounded ml-4">
          <table class="table table-striped table-hover table-sm table-bordered text-center">
              <thead class="thead-dark">
                <tr>
                  <th style="width: 2%;" scope="col">View</th>
                  <th style="width: 5%;" scope="col">ESR</th>
                  <th style="width: 7%;" scope="col">Date Initiated</th>
                  <th scope="col">Requested Completion Date</th>
                  <th scope="col">Initiated By</th>
                  <th scope="col">Engineer Assigned</th>
                  <th scope="col">Department</th>
                  <th scope="col">Location</th>
                  <th style="width: 2%;" scope="col">Approved</th>
                  <th scope="col" style="width: 15%;">Description</th>
                  <th scope="col">Status</th>
                  <th style="width: 2%;" scope="col">Priority</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of requests">
                  <th><button class="btn btn-link p-0" [routerLink]="['/requests', request.esr]"><i class="fa fa-plus-square"></i></button></th>
                  <th>{{request.esr}}</th>
                  <td>{{request.dateInitiated | date}}</td>
                  <td>{{request.requestedDateForCompletion | date}}</td>
                  <td>{{request.initiatedBy}}</td>
                  <td>{{request.engineerAssigned}}</td>
                  <td>{{request.department}}</td>
                  <td>{{request.locationOfProject}}</td>
                  <td><i class="{{request.approved | IsApprovedPipe}}"></i></td>
                  <td>{{request.description.slice(0, 51)}}...</td>
                  <td>{{request.status}}</td>
                  <td>{{request.priority}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      <div class="d-flex justify-content-center">
        <pagination
          [boundaryLinks]="true"
          [totalItems]="pagination.totalItems"
          [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>
      <div class="text-center mt-2">
        <h6>{{pagination.totalItems}} Total Service Requests</h6>
      </div>
    </div>
  </div>
</div>
