<div class="container mt-5">
  <div class="container mb-3 p-0 d-flex justify-content-end">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadRequests()" novalidate>
        <div class="form-group px-2">
          <label for="group" class="font-weight-bold">Group: </label>
          <select class="form-control ml-1 mr-3" style="width: 130px" id="group" [(ngModel)]="requestParams.group" name="group">
            <option *ngFor="let group of groups" [value]="group">
              {{group}}
            </option>
          </select>
          <label for="locationOfProject" class="font-weight-bold">Location:</label>
          <select class="form-control ml-1 mr-3" style="width: 130px" id="locationOfProject" [(ngModel)]="requestParams.locationOfProject" name="locationOfProject">
            <option *ngFor="let location of locations" [value]="location">
              {{location}}
            </option>
          </select>
          <div class="form-check ml-2">
              <input class="form-check-input" type="checkbox"  id="approved" name="approved" [(ngModel)]="requestParams.approved">
              <label class="form-check-label font-weight-bold" for="approved">
                Approved
              </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm ml-3">Apply Filters</button>
        <button type="button" class="btn btn-secondary btn-sm" style="margin-left:10px" (click)="resetFilters()">Reset Filter</button>
      </form>
      <br>
  </div>
<table class="table table-striped table-hover table-sm table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">View</th>
      <th scope="col">ESR</th>
      <th scope="col">Date Initiated</th>
      <th scope="col">Reqested Completion Date</th>
      <th scope="col">Initiated By</th>
      <th scope="col">Group</th>
      <th scope="col">Location</th>
      <th scope="col">Approved</th>
      <th scope="col">Engineer</th>
      <th scope="col">Date Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <th><button class="btn btn-link p-0" [routerLink]="['/requests', request.esr]"><i class="fa fa-plus-square"></i></button></th>
      <th>{{request.esr}}</th>
      <td>{{request.dateInitiated | date}}</td>
      <td>{{request.requestedDateForCompletion | date}}</td>
      <td>{{request.initiatedBy}}</td>
      <td>{{request.group}}</td>
      <td>{{request.locationOfProject}}</td>
      <td><i class="{{request.approved | IsApprovedPipe}}"></i></td>
      <td>{{request.engineerAssigned}}</td>
      <td>{{request.dateCompleted}}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-sm">
        <button type="button" class="btn btn-success btn-sm" [routerLink]="['/request-create']"><i class="fa fa-plus-circle mr-2"></i>Create New Request</button>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm d-flex justify-content-end p-0">
      <form class="form-inline p-0" #form="ngForm" (ngSubmit)="loadRequests()" novalidate>
          <label for="orderBy" class="font-weight-bold mr-1">Order By:</label>
          <select class="form-control ml-1 p-0" style="width: 80px" id="orderBy" [(ngModel)]="requestParams.orderBy" name="orderBy">
              <option *ngFor="let field of orderList" [value]="field.value">
                {{field.display}}
              </option>
            </select>
            <button type="submit" class="btn btn-primary btn-sm mr-2 ml-4">Apply</button>
      </form>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
<div class="text-center mt-2">
    <h6>{{pagination.totalItems}} Total Service Requests</h6>
  </div>
