<div class="container">
<table class="table table-striped table-hover table-sm table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">View</th>
      <th scope="col">ESR</th>
      <th scope="col">Date Initiated</th>
      <th scope="col">Reqested Completion Date</th>
      <th scope="col">Initiated By</th>
      <th scope="col">Group</th>
      <th scope="col">Location</th>
      <!-- <th scope="col">Description</th> -->
      <th scope="col">Approved</th>
      <th scope="col">Engineer</th>
      <th scope="col">Date Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <th><button class="btn btn-link"><i class="fa fa-plus-square"></i></button></th>
      <th>{{request.esr}}</th>
      <td>{{request.dateInitiated | date}}</td>
      <td>{{request.requestedDateForCompletion | date}}</td>
      <td>{{request.initiatedBy}}</td>
      <td>{{request.group}}</td>
      <td>{{request.locationOfProject}}</td>
      <!-- <td>{{request.description}}</td> -->
      <!-- <td>{{request.approved | IsApprovedPipe}}</td> -->
      <td><button class="btn btn-link"><i class="{{request.approved | IsApprovedPipe}}"></i></button></td>
      <td>{{request.engineerAssigned}}</td>
      <td>{{request.dateCompleted}}</td>
    </tr>
  </tbody>
</table>
</div>
